@charset "utf-8";

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    
    color: #333;
}

/* 🔸 */
header {
    width: 1280px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    line-height: 130px;       
}
header h1 img {
    width: 61px;
    height: 61px;
    margin-top: 30px;          
}
header h2 {
    margin-right: 780px;
    font-size: 40px;    
}
header ul li {
    display: inline-block;
    color: #333;
    margin-left: 3px;
}


/* 🔸 */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual {   
    height: 700px;  
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    color: rgba(255, 255, 255, 0.562);
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    color: rgba(255, 255, 255, 0.568);
}



/* 🔸 */
.cont01 {
    width: 1280px;  
    margin: 0 auto;  
    /* background-color: aqua;  */     
}
.cont01 .inner {
    margin-top: 80px;
    height: 530px;    
}
.cont01 .inner .list {
    display: flex;
    justify-content: space-between;
}
.cont01 .inner .list ul li {
    font-size: 18px;
    padding: 9px;
    text-align: right;
    font-weight: bold;
}
.cont01 .inner .list ul li:nth-child(1) {
    color: rgb(180, 52, 91);
    font-weight: 800;    
}
.cont01 .inner .list ul li:nth-child(2) {
    color: rgb(38, 62, 201);
    font-weight: 800;    
}
.cont01 .inner .list .right .top {
    color: #fff;
    margin-bottom: 25px;
}
.cont01 .inner .list .right .bottom {
    margin-bottom: 70px; 
    color: #fff;  
    display: flex;  
}
/* 마우스올렸을때 다른이미지 보이기 */
.cont01 .inner .list .right .bottom div {
    position: relative;
    overflow: hidden;
    height: 100%; /* h3이미지 높이값 100%로 주기 */
}
.cont01 .inner .list .right .bottom p { /* 🔸호버했을때 이미지 위로 올라감 */
    position: absolute;
    bottom: -100%;
}
.cont01 .inner .list .right .bottom div:hover p { 
    bottom: 0;
    transition: 0.7s;
}
.cont01 .inner .list .right .bottom div img {
    object-fit: cover;      
}
.cont01 .inner .list .right .bottom  h3 {
   margin-left: 30px;   
}
/* end*/



/* 🔸 */
.cont02 {
    width: 1280px;
    margin: 0 auto;    
}
.cont02 .inner .list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    text-align: center;       
}
.cont02 .inner .list div:hover h1 { /* 호버했을때 글씨 밑줄보이게 하기 */
    text-decoration: underline;
}
.cont02 .inner .list h1 {
    font-size: 17px;
    margin-top: 15px;
}

.cont02 .inner .list p {
    font-size: 20px;
    color: #c43e44;
    font-weight: 800;
    margin-bottom: 80px;
    margin-top: 5px;
}


/* 🔸 */
.cont03 {
    width: 1280px;
    margin: 0 auto;  
    border-top: 1px solid #ccc;  /* 가로선 주기, 구분하기 */
    padding: 10px 0;        
}
.cont03 .inner .list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;  /* 가로선 주기, 구분하기 */
    padding: 80px 0 50px;      
}
.cont03 .inner .list img { 
    border-radius: 10px;    
}



/* 🔸 */
.cont04 {
    width: 1100px;
    margin: 0 auto;    
        
}
.cont04 .inner .list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 150px;  
    
    
    
}
.cont04 .inner .list .item figure img {
    border-radius: 100px;
    object-fit: cover; 
    width: 100%;
    height: 100%;   
}
 .cont04 .inner .list .item p {
    font-size: 18px;
    text-align: center;
    font-weight: bold;  
    margin-top: 28px;
}
/* 마우스올리면 이미지 확대하기 */
.cont04 .inner .list .item:hover div figure img {
    transform: scale(1.2); 
    transition: 0.7s;   
}
.cont04 .inner .list .item figure {
   width: 100%;  
   height: 100%;     
   overflow: hidden;
   border-radius: 100px;
}
.cont04 .inner .list .item figure a {
    display: block;
    width: 100%;  
    height: 100%;
}
.cont04 .inner .list .item {
    border-radius: 100px;
    height: 190px;
    width: 190px;    
}
.cont04 .inner .list .item div {
    height: 100%;
}
/* item 안에 div,figure,img 모두다 사이즈 100% 설정해야 한다 */


/* 🔸 */
footer {
    background-color: #6d6d6e;
    color: #fff;
    padding: 50px ;  
    font-size: 14px;          
}
footer .inner {
    width: 1280px;
    margin: 0 auto;             
}
footer .inner p {
    font-size: 14px;
    color: #c7c9cc;
    margin-top: 30px; /* 위에 간격이 벌어짐 */    
}
